// Colors
$white: hsl(0 0% 100%);
$transparent: hsl(0 0% 100% / 0.1);
$gray: hsl(0, 0%, 59%);
$black: hsl(230 35% 7%);
$light-purple: hsl(231 77% 90%);

// Fonts
$sans-serif: "Barlow Condensed", sans-serif;
$serif: "Bellefair", serif;

// Font sizes
$fs-heading-1: 9.375rem;
$fs-heading-2: 6.25rem;
$fs-heading-3: 3.5rem;
$fs-heading-4: 2rem;
$fs-heading-5: 1.75rem;
$fs-subheading-1: 1.75rem;
$fs-subheading-2: 0.875rem;
$fs-nav-text: 1rem;

// Character spaces
$cs-heading-5: 0.28125em;
$cs-subheading-2: 0.146875em;
$cs-nav-text: 0.16875em;
